.start-button {
  font-size: 4rem;
  border: none;
  color: var(--color-main);
  background-color: inherit;
}

.start-button:hover {
  color: white;
}

.game-start-button {
  margin-top: 4rem;
  font-size: 2rem;
  border: none;
  color: var(--color-main);
  background-color: inherit;
}

.game-start-button:hover {
  color: white;
}
