.start-button {
  font-size: 4rem;
  border: none;
  color: var(--color-main);
  background-color: inherit;
}

.start-button:hover {
  color: white;
}

.game-start-button {
  margin-top: 4rem;
  font-size: 2rem;
  border: none;
  color: var(--color-main);
  background-color: inherit;
}

.game-start-button:hover {
  color: white;
}

.game-restart-button {
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  border-radius: 15px;
  background-color: white;
}

.game-restart-button-on {
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  border-radius: 15px;
  background-color: darkorange;
}

.game-restart-button:hover {
  cursor: pointer;
  color: red;
}

.game-restart-button-on:hover {
  cursor: pointer;
  color: red;
}
